
langgraph
langchain
langchain-community
langchain-openai
crewai
crewai-tools
ag2
llama-index
llama-index-vector-stores-faiss
streamlit
python-dotenv
pandas
sqlalchemy
openai
faiss-cpu 
numpy<2.0.0 
pysqlite3-binary